body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei";
}
body,
html {
  height: 100%;
}
.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  perspective: 550px;
  cursor: move;
}
.page .album {
  position: relative;
  margin: 0 auto;
  margin-top: 40vh;
  transform-style: preserve-3d;
  text-align: center;
  width: 800px;
  height: 200px;
  animation: closer 3s ease;
  transform: translateZ(460px);
}
.page .album .gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  display: flex;
}
.page .album .gallery.left {
  transform: rotateY(90deg) translateZ(-400px);
}
.page .album .gallery.current {
  transform: translateZ(-400px);
}
.page .album .gallery.right {
  transform: rotateY(-90deg) translateZ(-400px);
}
.page .album .gallery.back {
  transform: rotateY(180deg) translateZ(-400px);
}
.page .album .gallery.change {
  background-color: #fff;
  animation: color 8s linear infinite;
  animation-play-state: paused;
}
.page .album .gallery.change2 {
  background-color: #868686;
  animation: color2 8s linear infinite;
  animation-play-state: paused;
}
.page .album .gallery .photo {
  flex: 1;
  perspective: 550px;
  height: 100%;
  transform-style: preserve-3d;
}
.page .album .gallery .photo .main-photo {
  width: 40%;
  height: 90%;
  margin: 0 auto;
  margin-top: 10%;
  transform-style: preserve-3d;
}
.page .album .gallery .photo .main-photo .top-hold {
  width: 4px;
  height: 10%;
  background-color: #000;
  margin: 0 auto;
}
.page .album .gallery .photo .main-photo .main-hold {
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .album .gallery .photo .main-photo .bottom-hold {
  width: 4px;
  height: 25%;
  background-color: #000;
  margin: 0 auto;
}
.page .album .gallery .photo .main-photo .side-hold {
  width: 20px;
  height: 40px;
  background-color: #000;
  margin: 0 auto;
  /* transform-style: preserve-3d;
                        position: relative; */
}
.page .album .gallery .photo .back-photo {
  width: 40%;
  height: 90%;
  margin: 0 auto;
  margin-top: 10%;
  transform-style: preserve-3d;
}
.page .album .gallery .photo .back-photo .center-back {
  width: 100%;
  height: 70%;
  background-color: #ccc;
}
.page .album .gallery .photo .back-photo .bottom-back {
  height: 15%;
  width: 8px;
  background-color: #ccc;
  margin: 0 auto;
}
.page .album .gallery .photo .back-photo .side-back {
  height: 35px;
  width: 8px;
  background-color: #ccc;
  margin: 0 auto;
  transform-origin: top;
}
.page .album .gallery .photo.left-photo .side-hold {
  transform: translateY(-50%) rotateX(90deg) skew(-15deg);
}
.page .album .gallery .photo.left-photo .back-photo {
  transform: translateX(35%) translateY(-98%) translateZ(-30px);
}
.page .album .gallery .photo.left-photo .back-photo .side-back {
  transform: rotateX(90deg) skew(-43deg);
}
.page .album .gallery .photo.center-photo .side-hold {
  transform: translateY(-50%) rotateX(90deg);
}
.page .album .gallery .photo.center-photo .back-photo {
  transform: translateZ(-30px) translateY(-98%);
}
.page .album .gallery .photo.center-photo .back-photo .side-back {
  transform: rotateX(90deg);
}
.page .album .gallery .photo.right-photo .side-hold {
  transform: translateY(-50%) rotateX(90deg) skew(15deg);
}
.page .album .gallery .photo.right-photo .back-photo {
  transform: translateX(-35%) translateY(-98%) translateZ(-30px);
}
.page .album .gallery .photo.right-photo .back-photo .side-back {
  transform: rotateX(90deg) skew(43deg);
}
.page .album .top,
.page .album .bottom {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 800px;
  perspective: none;
}
.page .album .top .diamonds,
.page .album .bottom .diamonds {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.page .album .top .diamonds .diamond,
.page .album .bottom .diamonds .diamond {
  flex: 1;
}
.page .album .top .diamonds .diamond .orange,
.page .album .bottom .diamonds .diamond .orange {
  width: 20px;
  height: 30px;
  margin: 0 auto;
  margin-top: 43%;
  background-color: #ff8000;
}
.page .album .bottom {
  transform: translateY(-180px) rotateX(90deg);
}
.page .album .top {
  transform: translateY(-200px) rotateX(90deg) translateZ(220px);
}
@keyframes closer {
  0% {
    transform: translateZ(-800px);
  }
  100% {
    transform: translateZ(460px);
  }
}
@keyframes color {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #868686;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes color2 {
  0% {
    background-color: #868686;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #868686;
  }
}
@keyframes orange-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
