body {
    font-family: PingFangSC-Regular, Verdana, Arial, '微软雅黑','宋体';
    background-color: #fdfcf8;
    margin: 0;
    padding: 0;
}

div.wrapper {
    width:1239px;
    margin: 0 auto;
    text-align: left;
}

div.wrapper div.head {
    width:1210px;
    margin:0 0 0 12px;
    font-size: 20px;
}

div.head div.head_logo {
   
   width:500px;
   height: 60px;
   float:left;
   padding: 20px 0;
}

div.head_logo h1  {
    text-indent: -5000px;
    margin: 0;
    width: 500px;
    height:60px;
}

div.head_logo h1 a{
    float: left;
    background-image: url(photo/head.png);
    background-repeat: no-repeat;
    background-size: 275px 50px;
    background-position-y: 10px;
    width: 264px;
    height:60px;
}

div.head_logo h1 a:hover{
    border-bottom:5px solid #bd2d30;
}

/*div.head_logo img {
    width:55%;
    height:85%;
}*/

/*div.head_logo a:hover {
    border-bottom: 5px solid #900b09;
}*/

div.head div.head_search {
    width: 306px;
    height: 30px;
    float: right;
    padding:35px 0;
}

div.head_search input.search {
    width:258px;
    height:28px;
    border:1px solid #ddd;
}

div.head_search input.Go {
    width:30px;
    height:30px;
    background-color: #AE4141;
    color:#FFF;
    border-style:solid;
    border:0;
}

div.wrapper div.navfirst {
    width: 1210px;
    height: 48px;
    background-color: #E8E7E3;
    margin:0 0 0 12px;
    padding: 0;
    overflow: hidden;
}

ul.u1, .u1>li {
     margin: 0;
     padding: 0;
     text-align: center;
     list-style: none;
     height:48px;
     font-size: 18px;
     float: left;
}


div.navfirst ul.u1 {
    width: 1210px;
}

ul.u1 a{
    display: block;
    color: #8f8f8f;
    float:left;
    text-decoration: none;
    line-height: 48px;
}


ul.u1 a:hover
{
    background-color: #303030;
    color: #F0F0F0;
}

ul.u1 a {
    padding: 0 1.8em;
}

div.wrapper div.navsecond {
    margin: 0;
    padding: 0;
    width:176px;
    border:2px none #E8E7E3;
    border-left-style: solid;
    border-right-style: solid;
    margin-left: 12px;
    float: left;
}

div.navsecond h2 {
    font-size: 14px;
    margin: 0;
    padding: 10px 0 5px 10px;
    font-family: 微软雅黑;
}

div.navsecond h2:first-child {
    margin: 10px 0 0 0;
}

ul.u2, .u2>li {
     margin: 0;
     padding: 0;
     text-align: left;
     list-style: none;
     font-size: 12px;
}

div.navsecond ul.u2 a {
    display: block;
    text-decoration: none;
    color: #000;
    line-height: 2.2em;
    padding-left: 15px;
}

div.navsecond ul.u2 a:hover {
    background-color: #aaa;
    color: #FFF;
}

div.navsecond ul.u2 a:active {
    background-color:#bd2d30;
}

div.navsecond h2 a {
    color: #0479a7;
    text-decoration: none;
}

div.navsecond h2 a:hover {
    /*text-decoration: underline;*/
    border-bottom: 1px solid #0479a7;
}

div.navsecond h2.about {
    margin: 20px 0 15px 10px;
    padding: 0;
}

div.navsecond h2.help {
    margin: 0 0 20px 10px;
    padding: 0;
}

div.wrapper div.maincontent {
    width: 850px;
    padding: 30px 0 0 0;
    margin: 0;
    border: 0;
    float: left;
}

div.maincontent div.idea {
    padding: 0;
    width: 810px;
    padding-bottom: 30px;
    min-height: 118px;
    border-bottom: 1px solid #aaa;
    margin:0 0 0 25px;
}

div.maincontent div p{
    margin: 12px 0 0 110px;
    line-height: 150%;
    font-size: 16px;
}

div.maincontent div#d1{
    text-align: center;
}

div.maincontent div#d1 p{
    margin-left: 0;
    font-size: 18px;
}

div.maincontent div#d1 h2{
    margin: 0;
    margin-top: 35px;
}

div.maincontent div#d2 {
    background-image: url(photo/photo1.png);
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

div.maincontent div#d3 {
    background-image: url(photo/photo2.png);
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

div.maincontent div#d4 {
    background-image: url(photo/photo3.png);
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

div.maincontent div#d5 {
    background-image: url(photo/photo4.png);
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

div.maincontent div#d6 {
    background-image: url(photo/photo5.png);
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

div.maincontent div#d7 {
    background-image: url(photo/photo6.png);
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

div.maincontent div#d8 {
    background-image: url(photo/photo7.png);
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

div.maincontent div h3 {
    font-size: 24px;
    margin: 0;
    margin-top: 35px;
    margin-left: 110px;
}

div#d5 a,div#d6 a,div#d7 a {
    text-decoration: none;
    color: #900b09;
    border-bottom: 1px solid #900b09;
}

div#d5 a:hover,div#d6 a:hover,div#d7 a:hover {
    color: #ff0000;
    border-bottom-color: #ff0000;
}

div#d8 a {
    text-decoration: none;
    border-bottom: 1px solid #900b09;
    color: #0479a7;
}

div#d8 a:hover {
    border-bottom-color: #ff0000;
}


div.wrapper div.sidebar {
    width:176px;
    height: 1694.8px;
    padding: 0;
    margin: 0;
    border: 2px none #E8E7E3;
    border-left-style: solid;
    border-right-style: solid;
    float:left;
}

div.sidebar h2 {
    font-size: 14px;
    margin: 0;
    padding: 10px 0 5px 10px;
    font-family: 微软雅黑;
}

div.sidebar h2:first-child {
    margin: 10px 0 0 0;
}

ul.u3,.u3>li 
{
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    font-size: 12px;
}

ul.u3 a {
    display: block;
    color: #900b09;
    text-decoration: none;
    line-height: 2.1em;
    padding-left: 15px;
}

ul.u3 a:hover {
    color: #FFF;
    background-color: #bd2d30;
}

div.wrapper div.footer {
    clear: both;
    line-height: 24px;
    padding: 0;
    width: 1210px;
    margin: 0 0 0 12px;
    font-family: PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
}

div.footer p#p1 {
    margin: 0;
    font-size: 12px;
    text-align: center;
    color: #777777;
    background-color: #E8E7E3;
}

div.footer p#p2,p#p2 a {
    background-color: #fdfcf8;
    text-align: center;
    color: #777777;
    font-size: 14px;
    margin: 30px 0;
    text-decoration: none;
}

p#p2 a:hover {
    text-decoration: underline;
    color: #000;
}